.empty {
    color: gray;
    text-align: center;
    margin-top: 15px;
    font-size: large;
}

.post {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 30px 0;
}

.postWrapper {
    padding: 10px;
}

.postText {
    margin: 10px;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.post-Username {
    font-size: 15px;
    font-weight: bold;
    margin: 0 10px;
}

.postDate{
    font-size: 12px;
}

.postCenter{
    margin: 20px 0;
}

.postImg{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 5px;
}

.postBottomLeft{
    display: flex;
    align-items: center;   
}

.postCommentText{
    border: 0;
    background-color: white;
    cursor: pointer;
    font-size: 15px;
    color: gray;
}

.postCommentText:hover {
    text-decoration: underline;
}

.likeButton:hover {
    border: 2px solid #ff7b7b;
    border-radius: 50%;
}

.likesNum {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
}

.postLikeCounter{
    border: 0;
    background-color: white;
    cursor: pointer;
    font-size: 15px;
    color: red;
}

.postLikeCounter:hover {
    text-decoration: underline;
}

.postVid{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.removePost {
    border: 0;
    background-color: white;
}

.removePost:hover {
    color: gray;
}

.share-Hr {
    margin: 0;
}