a {
    text-decoration: none;
}

.likesContainer {
    background-color: #fbf7f5;
}

.likesHr {
    margin: 15px 0;
}

.likesNum {
    color: red;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
}

.name {
    font-size: 1.4rem;
    font-weight: 500;
}

.name:hover {
    font-weight: 600;
}