.empty {
    color: gray;
    text-align: center;
    margin-top: 15px;
    font-size: large;
}

.feed{
    flex:5.5
}

.feedWrapper{
    padding: 20px;
}

.homeContainer{
    display: flex;
    width: 100%;
}