.coverEdit {
    position: absolute;
    left: 95%;
    top: 75%;
    cursor: pointer;

    border: 1px solid #fff0db;
    border-radius: 50%;
    background-color: #fff0db;
    padding: 3px;
    height: 26px;
    width: 26px;
}

.coverEdit:hover {
    color: #666547;
}

.profileEdit {
    position: absolute;
    left: 55%;
    top: 82%;
    cursor: pointer;

    border: 1px solid #fff0db;
    border-radius: 50%;
    background-color: #fff0db;
    padding: 3px;
    height: 26px;
    width: 26px;
}

.profileEdit:hover {
    color: #666547;
}



.empty {
    color: gray;
    text-align: center;
    margin-top: 20px;
    font-size: large;
}

.feed{
    flex:5.5
}

.feedWrapper{
    padding: 20px;
}

.profile{
    display: flex;
}

.profileRight{
    flex: 9;
}

.profileTopImgs{
    height: 320px;
    position: relative;
}

.profileCoverImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileInfoName{
    font-size: 24px;
}

.profileInfoDesc{
    font-weight: 300;
}

.profileRightBottom{
    display: flex;
}

.logout {
    display: flex;
    justify-content: flex-end;

    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    margin-top: 20px;
    margin-right: 45px;
}

button {
    padding: 3px;
}