.comments-container {
    max-height: 200px;
    overflow: auto;
}

.removeComment {
    background-color: white;
    color: gray;
    font-weight: 600;
    border: none;
}

.removeComment:hover {
    background-color: white;
    color: black;
    font-weight: 600;
    border: none;
}

.text {
    margin-left: 8px;
}