.topNavContainer {
    height: 50px;
    width: 100%;
    background-color: #ff7b7b;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topNavLeft {
    flex: 3;
}

.logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.topNavCenter {
    flex: 5;
}

.searchbar {
    width: 95%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon {
    font-size: 22px !important;
    margin-left: 10px;
}

.searchInput {
    border: none;
    width: 70%;
}

.searchInput:focus {
    outline: none;
}

.topNavRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.topNavLink {
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.topNavIcons {
    display: flex;
}

.topNavIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topNavIconBadge {
    width: 13px;
    height: 13px;
    background-color: #71c7ec;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -6px;
    right: -6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topNavImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.navLink {
    color: white;
    text-decoration: none;
    padding-right: 5px;
}

.navLink:hover {
    color: bisque;
}

@media screen and (max-width: 768px)  {
    .topNavLink{
        display: none;
    }
}