.title {
    color: #ff7b7b;
}

.cardContainer {
    background-color: rgba(252, 233, 219, 0.3)
}

.create {
    color: gray;
}

.gradient-custom-3 {
    /* fallback for old browsers */
    background: #f2f680;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(234, 222, 44, 0.5), rgba(224, 231, 157, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(234, 222, 44, 0.5), rgba(224, 231, 157, 0.5))
}
.gradient-custom-4 {
    /* fallback for old browsers */
    background: #faf684;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(254, 238, 2, 0.5), rgba(224, 231, 157, 0.5));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,  rgba(254, 238, 2, 0.5), rgba(224, 231, 157, 0.5))
}