.likes {
    color: red;
}

.modal-Hr {
    margin: 0;
}

.commentsImg{
    margin-top: 20px;
    width: 100%;
    max-height: 275px;
    object-fit: contain;
}

.commentsVid{
    margin-top: 20px;
    width: 100%;
    max-height: 275px;
    object-fit: contain;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
}